// Primary Style File for importing other ancillary files

@use 'node/normalize.css/normalize';
@use 'reset';
@use 'breakpoints';
@use 'colors';
@use 'fonts';
@use 'layout';
@use 'shortcuts';


$dark_main_text: #b4b8bb;
$dark_main_background: #16232b;

$header_height: 4rem;

body {font-family: 'Bitter', serif;}
